<Files .htaccess>
order allow,deny
deny from all
</Files>

AddType application/x-httpd-ea-php70 php

Options +FollowSymlinks
DirectoryIndex index.php
IndexIgnore *

ErrorDocument 300 /index.php
ErrorDocument 400 /index.php
ErrorDocument 401 /index.php
ErrorDocument 402 /index.php
ErrorDocument 403 /index.php
ErrorDocument 404 /index.php
ErrorDocument 500 /index.php
ErrorDocument 504 /index.php

RedirectMatch 301 /login?lng=en /index.php?lng=en

