.idea*
_IDE_HELPER.php
config.app.php
config.app.surete.php
.DS_Store
README.md
*.js~
*.php~
.gitignore~
install/mysql-structure.php
install/surete_config-setup.php
app/vendor/Trumbowyg/
app/vendor/Reports/BugsRepConfig.php
app/storage/reports/*.pdf
images/
version

